{% extends "index.html" %}

{% load static %}

{% block contenido %}

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card" style="padding: 80px 5px 5px 5px; border: 0px;">
        <div class="card-body">
          <h1 class="card-title">SOLUCIONES PARA EMPRESAS, COMERCIOS Y HOGARES</h1>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-center" style="border: 0px;">
        <img src="/media/images/SistemaDeAlarma2.jpg" class="card-img-top" alt="..." href="#" >
        <div class="card-body" aling="center">
          <h2 class="card-title">MONITOREO DE ALARMA</h2>
          <p class="card-text">Optimizamos tu seguridad e integramos todo en un mismo sistemas, protección total.</p>
          <a href="#" class="text-decoration-none">Ver más</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-center" style="border: 0px;">
        <img src="/media/images/CámarasDeVigilancia2.jpg" class="card-img-top" alt="..." href="#">
        <div class="card-body">
          <h2 class="card-title">CÁMARAS DE SEGURIDAD</h2>
          <p class="card-text">Administración, seguridad y control, todo al alcance de la mejor tecnología en sistemas de video vigilancia.</p>
          <a href="#" class="text-decoration-none">Ver más</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-center" style="border: 0px;">
        <img src="/media/images/CercoEléctrico2.jpg" class="card-img-top" alt="..." href="#">
        <div class="card-body">
          <h2 class="card-title">CERCOS ELÉCTRICOS</h2>
          <p class="card-text">Reforza tu seguridad, protege tus vitales, la mejor solución para una protección perimetral.</p>
          <a href="#" class="text-decoration-none">Ver más</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-center" style="border: 0px;">
        <img src="/media/images/ControlesDeAcceso2.jpg" class="card-img-top" alt="..." href="#">
        <div class="card-body">
          <h2 class="card-title">CONTROLES DE ACCESO</h2>
          <p class="card-text">Controle y gestione el ingreso, tiempo y asistencia del personal de forma eficaz.</p>
          <a href="#" class="text-decoration-none">Ver más</a>
        </div>
      </div>
    </div>
  </div>
  <script src="https://apps.elfsight.com/p/platform.js" defer></script>
  <div class="elfsight-app-02e05cf5-d6a6-4191-9444-9af130632d6b"></div>

{% endblock %}